<h1> New Song </h1>
<form method="post" action="/songs">
  <label for="Name">Name:</label>
  <input type="text" name="name">
  <br>
  <label for="Artist name">Artist name:</label>
  <input type="text" name="Artist name">
  <br>
  <p> Genres: </p>
  <% Genre.all.each do |genre| %>
  <input id="<%= genre.name" type="checkbox" name="genres[]" value="<%= genre.id %>">
  <label for="Genre"> <%= genre.name %></label>
  <% end %>
  <input type="submit" value="Create">
</form>
